<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-dark shadow-sm" style="color: #999">
  <a class="mr-3 mr-md-auto" [routerLink]="['/gradient']">
	  <img src="assets/pantone.svg" alt="picker" width="30px">
  </a>
  <nav class="my-2 my-md-1 mr-md-3" >
    <a class="p-2 " [routerLink]="['/gradient']" routerLinkActive="active" style="color: #999">Gradient</a>
    <a class="p-2 " [routerLink]="['/boxshadow']" routerLinkActive="active" style="color: #999">Shadow</a>
  </nav>
</div>
