ul.nav a:hover, ul.nav a:focus, .active
{
	text-decoration: underline wavy #000;

	border-radius: 0.4rem;
}

.navbar-dark .navbar-nav .nav-link {
	color: rgb(46, 46, 46);
	font-weight: bolder;
}

.nav-link.active {
	color: azure;
}
.navbar {
	margin-top: 10px;
	z-index: 10 !important;

}

.navbar-light .navbar-toggler {
	color: rgba(255, 255, 255, 0.5);
	border-color: rgba(0, 0, 0, 0);
}

.navbar-toggler-icon {
	background-color: teal;
}

@media (max-width: 990px) {
    .navbar-nav {
		text-align: center;
		margin-top: 20px;
		/* margin-left: 5px */
	}
}
