.caja {
	color: #fff;
	height: 500px;
	position: relative;

}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 5;
}

.jumpe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
}

.jumpe input[type='radio'] {
	visibility: hidden;
}

.select-active {
	color: #fff;
	width: 30px;
	height: 30px;
	background: rgb(117, 223, 255);
	border-radius: 50%;
}
