/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Mali&display=swap');

body {
	font-family: 'Mali', cursive !important;
}

.caja {
	background-image: url('assets/background.jpeg');
	background-size: cover;
	margin-top: -200px !important;
}
